@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

.act-head{
    font-family: 'Roboto Slab', serif;
    color: rgb(78, 4, 78);
    border-bottom: 4px solid rgb(190, 190, 2);
    font-size: 42px;
    margin-top: 40px;
}
.act-para{
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    text-align: justify;
    margin-left: 50px;
    margin-top: 10px;
}
.act-main{
    padding-top: 40px;
    margin-top: 10px;
    background-color: rgb(255, 188, 255);
}
.ylp-head{
    font-family: 'Slabo 27px', serif;
    font-weight: bolder;
    background-color: rgb(78, 4, 78);
    color: #fff;
}
.ylp-para{
    font-family: 'EB Garamond', serif;
    font-size: 25px;
}
.ylp-col1{
    margin-top: 50px;
}
.ylp-col2{
    margin-top: 100px;
}
.vis-img{
    width: 28rem;
}
.visible{
    display: none;
}

@media screen and (max-width:990px){
    .vis-img{
        width: 22rem;
    }
    .ylp-col1{
        margin-top: 6px;
    }
    .ylp-col2{
        margin-top: 20px;
    }
    .ylp-row{
        margin-bottom: 40px;
    }
}

@media screen and (max-width:730px){
    .act-para{
        font-size: 22px;
    }
    .vis-img{
        width: 18rem;
    }
    .ylp-col2{
        margin-left: px;
    }

}
@media screen and (max-width:500px) {
    .visible{
        display: block;
    }
    .not-visible{
        display:none;
    }
}