@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

.act-head{
    font-family: 'Roboto Slab', serif;
    color: rgb(78, 4, 78);
    border-bottom: 4px solid rgb(190, 190, 2);
    font-size: 42px;
    margin-top: 40px;
}
.act-para{
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    text-align: justify;
    margin-left: 30px;
    margin-top: 10px;
}
.act-main{
    padding-top: 40px;
    margin-top: 10px;
    background-color: rgb(255, 188, 255);
}
.ylp-head{
    font-family: 'Slabo 27px', serif;
    font-weight: bolder;
    background-color: rgb(78, 4, 78);
    color: #fff;
}
.ylp-para{
    font-family: 'EB Garamond', serif;
    font-size: 25px;
}
.ylp-col1{
    margin-top: 50px;
}
.ylp-col2{
    margin-top: 100px;
}
.vis-img{
    width: 28rem;
}
.exl-img{
    width: 28rem;
}
.visible{
    display: none;
}
.more-head{
    font-family: 'Slabo 27px', serif;
    font-weight: bolder;
    background-color: rgb(78, 4, 78);
    color: #fff;
}
.more-para{
    font-family: 'EB Garamond', serif;
    font-size: 25px;
}
.more-col2{
    margin-top: 50px;
}
.more-img{
    width: 28rem;
}
.exl-head{
    font-family: 'Slabo 27px', serif;
    font-weight: bolder;
    background-color: rgb(78, 4, 78);
    color: #fff;
}
.exl-para{
    font-family: 'EB Garamond', serif;
    font-size: 25px;
}
.exl-col{
    margin-top: 50px;
}
.lpc-head{
    font-family: 'Slabo 27px', serif;
    font-weight: bolder;
    background-color: rgb(78, 4, 78);
    color: #fff;
}
.lpc-para{
    font-family: 'EB Garamond', serif;
    font-size: 25px;
}
.lpc-col2{
    margin-top: 40px;
}
@media screen and (max-width:990px){
    .vis-img{
        width: 26rem;
    }
    .more-img{
        width: 22rem;
    }
    .ylp-col1{
        margin-top: 50px;
    }
    .ylp-col2{
        margin-top: 20px;
    }
    .ylp-row{
        margin-bottom: 40px;
    }
    .ylp-
    .exl-para, .ylp-para, .more-para, .lpc-para{
        font-size: 23px;
    }
    .exl-img{
        width: 26rem;
    }
    .lpc-a{
        padding-left: 100px;
        width: 50%;
    }
    .img-a{
        width: 20rem;
        margin-left: 0px;
        margin-top: 50px;
    }
    .lpc-img{
        width: 23rem;
    }
}

@media screen and (max-width:860px){
    .act-para{
        padding-right: 30px;
        padding-left: 30px;
    }
    .vis-img, .exl-img{
        width:24rem;
    }
}

@media screen and (max-width:766px){
    .act-para{
        font-size: 24px;
    }
    .vis-img, .more-img, .exl-img, .lpc-img{
        width: 30rem;
    }
    .ylp-head, .more-head, .exl-head, .lpc-head{
        width: 35rem;
    }
    .ylp-para, .more-para, .exl-para, .lpc-para{
        width: 35rem;
    }
    .more-col2{
        padding-right: 10px;
    }
    .row{
        display: block;
    }
    .not-visible{
        display: none;
    }
}
@media screen and (max-width:550px) {
    .visible{
        display: block;
    }
    .not-visible{
        display:none;
    }
    .img1{
        width: 30rem;
        padding-left: 70px;
    }
    .ylp-head, .more-head, .exl-head, .lpc-head{
        width: 32rem;
    }
    .ylp-para, .more-para, .exl-para, .lpc-para{
        width: 32rem;
    }
    .vis-img, .more-img, .exl-img, .lpc-img{
        padding-left: 30px;
    }
}
@media screen and (max-width:365px) {
    .act-head{
        font-size: 30px;
    }
    .act-para{
        font-size: 20px;
        padding-left: 0px;
    }
    .ylp-head, .more-head, .exl-head, .lpc-head{
        width: 20rem;
        font-size: 23px;
    }
    .ylp-para, .more-para, .exl-para, .lpc-para{
        width: 20rem;
        font-size: 20px;
    }
    .vis-img, .more-img, .exl-img, .lpc-img{
       width: 20rem;
    }
}