@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
.background-hero{
    background-color: rgb(78, 4, 78);
    margin-bottom: 40px;
}
.hero{
    background-image: url(../../Asset/Images/hero1.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(53, 53, 53);
    background-blend-mode: overlay;
    text-align: center;
}
.heading-hero{
    color: #fff;
    margin-top: 100px;
    margin-left: 20px;
    font-size: 42px;
    font-family: 'Roboto Slab', serif;
}
.join{
    margin-top: 35px;
    padding: 20px 30px 20px 30px;
    border-radius: 8px;
    color: #fff;
    background-color: rgb(78, 4, 78);
    border: 2px solid rgb(78, 4, 78);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 21px;
}

@media screen and (max-width:800px) {
    
    .heading-hero{
    color: #fff;
    margin-top: 100px;
    margin-left: 20px;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
}
.join{
    margin-top: 35px;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    color: #fff;
    background-color: rgb(78, 4, 78);
    border: 2px solid rgb(78, 4, 78);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 17px;
}
}

@media screen and (max-width:460px) {
    
    .heading-hero{
        color: #fff;
        margin-top: 100px;
        margin-left: 20px;
        font-size: 30px;
        font-family: 'Roboto Slab', serif;
    }

    .join{
        margin-top: 35px;
        padding: 10px 30px 10px 30px;
        border-radius: 8px;
        color: #fff;
        background-color: rgb(78, 4, 78);
        border: 2px solid rgb(78, 4, 78);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 17px;
    }
    }
    @media screen and (max-width:365px){
        .heading-hero{
            font-size: 31px;
        }
    }