.gate{
    background-color: rgb(78, 4, 78);
}
.button{
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    color: #fff;
    background-color: rgb(78, 4, 78);
    border: 2px solid #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.leadworld{
    color:rgb(190, 190, 2) !important;
    font-weight: bolder;
}