@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
.vis-head{
    font-family: 'Roboto Slab', serif;
    color: rgb(190, 190, 2);
    border-bottom: 4px solid rgb(78, 4, 78);
    font-size: 42px;
    margin-top: 40px;
    /* text-decoration: underline; */
}
.para-head{
    margin-top: 80px;
    font-family: 'EB Garamond', serif;
    font-size: 36px;
    text-align: left;
}
.contain{
    margin-top: 50px;
}
.vis-img1{
    width: 35rem;
}
@media screen and (max-width:990px) {
    .contain{
        margin-top: 15px;
    }
    .para-head{
        text-align: center;
        margin-top: 0px;
    }
    .vis-img1{
        width: 24rem;
    }
}
@media screen and (max-width:770px){
    .para-head{
        font-size: 25px;
        margin-top: 29px;
        text-align: center;
    }
    .vis-img1{
        width: 20rem;
    }
    .contain{
        margin-top: 20px;
    }
}
@media screen and (max-width:766px){
    .para-head{
        font-size: 30px;
        text-align: center;
        display: block;
        width: 600px;
        padding-right: 50px;
    }
    .vis-img1{
        width: 35rem;
    }
}
@media screen and (max-width:550px){
    .para-head{
        font-size: 29px;
        padding: 10px;
        width: 500px;
    }
    .vis-img1{
        width: 25rem;
        margin-left: 40px;
    }
}
@media screen and (max-width:365px) {
    .para-head{
    width: 21.5rem;
    padding: 15px;
    font-size: 23px;
    }
    .vis-head{
        font-size: 35px;
    }
    .vis-img1{
        width: 16rem;
        margin-left: 8px;
    }
    .row-vis{
        padding-right: 10px;
    }
}