@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
.vis-head{
    font-family: 'Roboto Slab', serif;
    color: rgb(190, 190, 2);
    border-bottom: 4px solid rgb(78, 4, 78);
    font-size: 42px;
    margin-top: 40px;
    /* text-decoration: underline; */
}
.para-head{
    margin-top: 80px;
    font-family: 'EB Garamond', serif;
    font-size: 36px;
    text-align: left;
}
.contain{
    margin-top: 50px;
}
.img1{
    width: 35rem;
}
@media screen and (max-width:990px) {
    .contain{
        margin-top: 15px;
    }
    .para-head{
        text-align: center;
        margin-top: 0px;
    }
    .vis-img{
        margin-left: 0px;
    }
    .img1{
        width: 24rem;
    }
}
@media screen and (max-width:770px){
    .para-head{
        font-size: 25px;
        margin-top: 29px;
        text-align: center;
    }
    .img1{
        width: 20rem;
    }
    .contain{
        margin-top: 20px;
    }
}

@media screen and (max-width:500px){
    .para-head{
        margin-top: 0px;
    }
    .vis-img{
        margin-left:50px;
    }
}